li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 15px 6rem;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 28px;
    transition: all 0.4s;
}

.btn:hover {
    box-shadow: 1px 1px 5px #000;
}